<script>

    $("a").find("i.iconFirst").on("click", function () {
        let id_val = $(this).attr("icon-att");
        let user_id = $("#userIdId").val();
        var this_elemt = $(this)
        $.ajax({
            type: "POST",
            url: "{% url 'like-unlike' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                "image_url": id_val,
                "user_id": user_id,
            },
            success: function (response) {

                this_elemt.closest("#imageDataIterDiv").fadeOut();

            }
        });
    });
</script>