<script>
    $(function () {
        var user_id = $("#userIdId").val();
        $.ajax({
            type: "GET",
            url: `/get-favourite-images/?user_id=${user_id}`,
            // data: {
            //     "user_id": user_id,

            // },
            success: function (imageResponse) {
                length_image = imageResponse.favourite_images.length

                if (length_image < 1) {
                    empty_html = `<div id="emptyId">
                                       <div class="text-center mt-5">
                                           <h1>You have no Favourite Image to Show</h1>
                                           <h4 class=" mt-5">Please go <a href="/home">Home</a> and do like to add in your Favourite</h4>
                                       </div>
                                   </div>`
                    $("#extraImageDataMainDiv").empty().html(empty_html);
                }

                var html = "";
                $(imageResponse.favourite_images).each(function (i, image_url) {
                    html +=
                        `<a href="#" class="card mt-3 mb-3" id="imageDataIterDiv">
                                <div class="content text-center mt-4">
                                     <i id="likedId" icon-att=` + `"` + encodeURI(image_url) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size liked"></i>
                                </div>
                                <div id="imageurl" class="image">
                                    <img src=`+ `"` + encodeURI(image_url) + `"` + ` alt=""/>
                                </div>
                         </a>`
                });
                $("#imageDataMainDiv").empty().html(html);
                onClickRemove();

            }
        });


    });

</script>

<script>
    function onClickRemove() {
        $("a").find("i.iconFirst").on("click", function () {
            let id_val = $(this).attr("icon-att");
            let user_id = $("#userIdId").val();
            var this_elemt = $(this)
            $.ajax({
                type: "POST",
                url: "{% url 'like-unlike' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "image_url": id_val,
                    "user_id": user_id,
                },
                success: function (response) {
                    $.ajax({
                        type: "GET",
                        url: `/get-favourite-images/?user_id=${user_id}`,
                        success: function (imageResponse) {
                            length_image = imageResponse.favourite_images.length

                            if (length_image < 1) {
                                empty_html = `<div id="emptyId">
                                        <div class="text-center mt-5">
                                            <h1>You have no Favourite Image to Show</h1>
                                            <h4 class=" mt-5">Please go <a href="/home">Home</a> and do like to add in your Favourite</h4>
                                        </div>
                                    </div>`
                                $("#extraImageDataMainDiv").empty().html(empty_html);
                            }
                        }
                    });

                    this_elemt.closest("#imageDataIterDiv").fadeOut();


                }
            });
        });
    };
</script>