<script>
    $(function () {
        var location_name = $("#locationSearch").val();
        var user_id = $("#userIdId").val();
        $.ajax({
            type: "POST",
            url: "{% url 'search-images' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                "page_number": 1,
                "location_name": location_name,
                "user_id": user_id,

            },
            success: function (imageResponse) {
                var imageData = imageResponse.imageData;

                var html = "";
                $(imageResponse.imageData).each(function (i, image_url) {
                    var icon_html = ""
                    if (image_url[1]) {
                        icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size liked"></i>`
                    }
                    else {
                        icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size "></i>`
                    }
                    html +=
                        `<a href="#" class="card mt-3 mb-3" id="imageDataIterDiv">
                                <div class="content text-center mt-4">`+

                        icon_html +
                        `</div>
                                <div id="imageurl" class="image">
                                    <img src=`+ `"` + encodeURI(image_url[0]) + `"` + ` alt=""/>
                                </div>
                         </a>`
                });
                $("#imageDataMainDiv").empty().html(html);
                $("#pageNumber").val(imageResponse.page);
                $("#nextButton").show()
                onclickLike()

            }
        });


    });

</script>
<script>
    $("#searchButton").click(function () {
        var location_name = $("#locationSearch").val();
        var user_id = $("#userIdId").val();

        if (location_name === "") {
            alert("Please Input something on search box")

        }
        else {
            $.ajax({
                type: "POST",
                url: "{% url 'search-images' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "page_number": 1,
                    "location_name": location_name,
                    "user_id": user_id,

                },
                success: function (imageResponse) {
                    var imageData = imageResponse.imageData;


                    length_image = imageResponse.imageData.length
                    if (length_image < 1) {
                        empty_html = `<div id="emptyId">
                                        <div class="text-center mt-5">
                                            <h1>No images found on this location</h1>
                                        </div>
                                    </div>`
                        $("#extraImageDataMainDiv").empty().html(empty_html);
                        $("#nextButton").hide()
                        $("#previousButton").hide()

                    }
                    else {
                        var html = "";
                        $(imageResponse.imageData).each(function (i, image_url) {
                            var icon_html = ""
                            if (image_url[1] === true) {
                                icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size liked"></i>`
                            }
                            else {
                                icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size "></i>`
                            }
                            html +=
                                `<a href="#" class="card mt-3 mb-3" id="imageDataIterDiv">
                                <div class="content text-center mt-4">`+
                                icon_html +
                                `</div>
                                <div id="imageurl" class="image">
                                    <img src=`+ `"` + encodeURI(image_url[0]) + `"` + ` alt=""/>
                                </div>
                         </a>`

                        });
                        $("#imageDataMainDiv").empty().html(html);
                        $("#pageNumber").val(imageResponse.page);
                        onclickLike()
                    }

                }
            });

        }

    });

</script>

<!-- next page -->
<script>
    $(function () {
        $("#nextButton").click(function () {
            var user_id = $("#userIdId").val();
            var page_number = $("#pageNumber").val();
            var page_number = parseInt(page_number) + 1;
            var location_name = $("#locationSearch").val();

            $.ajax({
                type: "POST",
                url: "{% url 'search-images' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "page_number": page_number,
                    "location_name": location_name,
                    "user_id": user_id
                },
                success: function (imageResponse) {
                    if (page_number === imageResponse.total_pages) {
                        $("#nextButton").hide()
                    }

                    var html = "";
                    var htmlForPageInput = "";
                    $(imageResponse.imageData).each(function (i, image_url) {
                        var icon_html = ""
                        if (image_url[1] === true) {
                            icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size liked"></i>`
                        }
                        else {
                            icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size "></i>`
                        }
                        html +=
                            `<a href="#" class="card mt-3 mb-3" id="imageDataIterDiv">
                                <div class="content text-center mt-4">`+
                            icon_html +
                            `</div>
                                <div id="imageurl" class="image">
                                    <img src=`+ `"` + encodeURI(image_url[0]) + `"` + ` alt=""/>
                                </div>
                         </a>`

                    });
                    $("#imageDataMainDiv").empty().html(html);
                    $("#pageNumber").val(imageResponse.page);
                    if (page_number > 1) {
                        $("#previousButton").show()
                    }

                    onclickLike();
                }
            });

        })
    })
</script>


<script>
    $(function () {
        $("#previousButton").click(function () {
            var user_id = $("#userIdId").val();
            var page_number = $("#pageNumber").val()
            var page_number = parseInt(page_number) - 1;

            var location_name = $("#locationSearch").val();

            if (page_number < 2) {
                $("#previousButton").hide()
            }

            $.ajax({
                type: "POST",
                url: "{% url 'search-images' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "page_number": page_number,
                    "location_name": location_name,
                    "user_id": user_id
                },
                success: function (imageResponse) {
                    if (page_number < imageResponse.total_pages) {
                        $("#nextButton").show()
                    }

                    var html = "";
                    var htmlForPageInput = "";
                    $(imageResponse.imageData).each(function (i, image_url) {
                        var icon_html = ""
                        if (image_url[1] === true) {
                            icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size liked"></i>`
                        }
                        else {
                            icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                    class="iconFirst fa fa-thumbs-up like-size "></i>`
                        }
                        html +=
                            `<a href="#" class="card mt-3 mb-3" id="imageDataIterDiv">
                                <div class="content text-center mt-4">`+
                            icon_html +
                            `</div>
                                <div id="imageurl" class="image">
                                    <img src=`+ `"` + encodeURI(image_url[0]) + `"` + ` alt=""/>
                                </div>
                         </a>`


                    });
                    $("#imageDataMainDiv").empty().html(html);
                    $("#pageNumber").val(imageResponse.page);

                    onclickLike();
                }
            });

        })
    })
</script>

<!-- search and insert location -->
<script>
    $("#locationSearch").keydown(function () {
        $("#locationSearch").autocomplete({
            source: "{% url 'location-list-insert' %}",
            minLength: 1
        });
    });


</script>

<!-- lat-long search -->

<script>
    $(function () {
        $("#latLongSearchButton").click(function () {
            var latitude = $("#latitudeSearch").val();
            var longitude = $("#longitudeSearch").val();

            if (latitude === "" & longitude === "") {
                alert("Please Enter both")

            }
            else if (latitude === "") {
                alert("Please Enter latitude")

            }
            else if (longitude === "") {
                alert("Please Enter longitude")

            }
            else {
                $.ajax({
                    type: "GET",
                    url: `/geolocation/?latitude=${latitude}&longitude=${longitude}`,
                    // url: "{% url 'geolocation' %}",
                    // data: {
                    //     "latitude": latitude,
                    //     "longitude": longitude
                    // },
                    success: function (response) {
                        var user_id = $("#userIdId").val();

                        $("#locationSearch").val(response.location_name);
                        var location_name = $("#locationSearch").val();

                        if (response.location_name != null) {
                            $.ajax({
                                type: "POST",
                                url: "{% url 'search-images' %}",
                                data: {
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    "page_number": 1,
                                    "location_name": location_name,
                                    "user_id": user_id,

                                },
                                success: function (imageResponse) {
                                    var favourite_images = imageResponse.favourite_images;

                                    var html = "";
                                    $(imageResponse.imageData).each(function (i, image_url) {

                                        var icon_html = ""
                                        if (image_url[1] === true) {
                                            icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                                            class="iconFirst fa fa-thumbs-up like-size liked"></i>`
                                        }
                                        else {
                                            icon_html = ` <i id="likedId" icon-att=` + `"` + encodeURI(image_url[0]) + `"` + `
                                                            class="iconFirst fa fa-thumbs-up like-size "></i>`
                                        }
                                        html +=
                                            `<a href="#" class="card mt-3 mb-3" id="imageDataIterDiv">
                                                    <div class="content text-center mt-4">`+
                                            icon_html +
                                            `</div>
                                                            <div id="imageurl" class="image">
                                                                <img src=`+ `"` + encodeURI(image_url[0]) + `"` + ` alt=""/>
                                                            </div>
                                                    </a>`


                                    });
                                    $("#imageDataMainDiv").empty().html(html);
                                    $("#pageNumber").val(imageResponse.page);
                                    onclickLike()

                                }
                            });
                        } else {
                            alert("Location and image nor found inner")

                        }
                    }
                });
            }
        })
    })
</script>

<script>
    $("#favId").click()
</script>

<!-- like unlike -->

<script>

    function onclickLike() {

        $("a").find("i.iconFirst").on("click", function () {
            let user_id = $("#userIdId").val();
            let id_val = $(this).attr("icon-att");
            var this_elemt = $(this)
            $.ajax({
                type: "POST",
                url: "{% url 'like-unlike' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "image_url": id_val,
                    "user_id": user_id,
                },
                success: function (response) {
                    this_elemt.closest('i').toggleClass("liked ")
                }
            });
        });

    }
</script>

<script>
    $(function () {
        onclickLike()
    })
</script>