<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/myapp/signup.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>SignIn</title>
</head>

<body>
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>If you don't have an account, just sign up.</p>
            <a href="/signup" class="signin-signup-btn" role="button" aria-disabled="true">Signup</a>
            <br/>
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Sign In</h3>
                    <div class="register-form">
                        <div class="form-group">
                            <form class="formc" action="/log-in/" method="post">
                                {% csrf_token %}
                                {{user_signin_form.as_p}}
                                <button type="submit" class="btn btn-success btn-save mt-3" id="signinbtn"> Signin
                                </button>
                            </form>
                            {% for message in messages %}
                            <!--                            <h5 id="messageDiv" style="display: none;" class="text-center message-show">Account has-->
                            <!--                                created successfully</h5>-->
                            <h5 id="messageDiv" class="text-center message-show">{{ message }}</h5>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% include "myapp/signinjs.html" %}
</body>

</html>